@use "../../010-settings/settings_unibe_variables" as *;

.panel {
  border: $unibe-il-panel-border;
  border-radius: $unibe-il-panel-border-radius;
}
.panel-secondary {
  box-shadow: $unibe-il-panel-secondary-box-shadow;
  border: $unibe-il-panel-secondary-border;
}

.ilContainerBlock {
  background-color: $unibe-il-panel-listing-bg-color;
  border: none;
  border-radius: none;
}

.ilContainerBlockHeader {
  background-color: $unibe-il-panel-listing-bg-color;
  h2.ilHeader {
    font-weight: 400;
  }
}
