footer {
  border-top: @tax-il-footer-border-top;
  text-align: @tax-il-footer-text-align;
  display: @tax-il-footer-display;
  flex-direction: @tax-il-footer-flex-direction;

}

span.il-footer-text {
  font-size: @tax-il-footer-text-font-size-span;
}

.il-footer-text {
  font-size: @tax-il-footer-text-font-size;
  padding: @tax-il-footer-text-padding;
  color: @tax-il-footer-text-color;
}

.il-maincontrols-footer {

  .il-footer-permanent-url {
    border-bottom: @tax-il-footer-permanent-url-border-bottom;
    margin-right: @tax-il-footer-permanent-url-margin-right;
  }

  .il-footer-content > div:first-child {
    margin-left: @tax-il-footer-firstchild-margin-left;
    padding-left: @tax-il-footer-firstchild-padding-left;
  }

  .il-footer-content .il-footer-links{
    color: @tax-il-footer-text-color;

    a:hover {
      color: @tax-il-footer-link-hover;
    }
  }

}
