
.form-control {
  height: @tax-il-form-height;
}

form .ilHeaderDesc {
  color: @tax-il-form-Header-Desc;
}

.form-horizontal .control-label {
  padding-top: @tax-il-form-control-label-padding-top;
}

.help-block a {
  color: @tax-il-form-help-block-link-color;

  &:hover {
    color: @tax-il-form-help-block-link-color-hover;
    text-decoration: @tax-il-form-help-block-link-text-decoration;
  }
}

.form-group a {
  color: @tax-il-form-group-link-color;

  &:hover {
    color: @tax-il-form-group-link-color-hover;
  }
}

.form-horizontal .help-block.alert-danger {
  background-color: @tax-il-alert-danger-bg-color;
  border-color: @tax-il-alert-danger-border-color;
  color: @tax-il-alert-danger-color;
}