.il-layout-page-content:focus{
  outline: none;
}
::selection{
  background-color: @tax-selection-background-color;
}

@media print {
  html body {
    .il-layout-page-content,
    .il-layout-page-content div	{
      display: block;
    }
    .ilFileDropTargetOverlay{
      display: none !important;
    }
    #il_right_col{
      display: none !important;
    }
    #il_center_col{
      width: 100%;
    }

  }
}