.il-mainbar-tools-button .btn-bulky{
  background-color: @tax-mainbar-tool-engaged;
  &.engaged{
    background-color: @tax-mainbar-tool-disengaged;
  }
}

.il-mainbar-tool-trigger-item  .btn-bulky{
  background-color: @tax-mainbar-tool-slate-disengaged;
  &.engaged{
    background-color: @tax-mainbar-tool-slate-engaged;
  }
}

.il-link.link-bulky .bulky-label{
  color: @tax-il-bulky-label-color;
}

.il-maincontrols-slate-content .il-divider{
  background-color: transparent;
}