.il-mainbar-triggers .btn-bulky .icon, .il-mainbar-triggers .il-link.link-bulky .icon {
  filter: @tax-il-mainbar-btn-icon-filter;
}

.il-mainbar-triggers .btn-bulky.engaged .icon, .il-mainbar-triggers .il-link.link-bulky.engaged .icon,
.il-mainbar-triggers .btn-bulky:hover .icon, .il-mainbar-triggers .il-link.link-bulky:hover .icon{
  filter: @tax-il-mainbar-btn-icon-filter-hover;
}

.il-mainbar-tools-button .btn-bulky{
  background-color: @tax-mainbar-tool-engaged;
  &.engaged{
    background-color: @tax-mainbar-tool-disengaged;
  }
}

.il-mainbar-tool-trigger-item  .btn-bulky{
  background-color: @tax-mainbar-tool-slate-disengaged;
  &.engaged{
    background-color: @tax-mainbar-tool-slate-engaged;
  }
}
//extra rules needed for safari
.il-mainbar-triggers .btn-bulky.engaged{
  background:@il-mainbar-btn-bg-color-engaged;

}
.il-mainbar-triggers .btn-bulky:hover{
  background:@il-mainbar-btn-bg-color-engaged;

}
.il-mainbar-triggers .btn-bulky:hover icon{
  filter: @tax-il-mainbar-btn-icon-filter-hover;
}

.il-mainbar-triggers .btn-bulky:hover .bulky-label{
  color:@tax-mainbar-tool-slate-engaged;
}
.il-mainbar-triggers .btn-bulky.engaged .bulky-label{
  color:@tax-mainbar-tool-slate-engaged;
}