@use "050-layout/basics/layout_spacing-variables" as *;
@use "../../../../../../../../templates/default/070-components/UI-framework/Panel/ui-component_panel" with (
  $make-legacy-blocks-into-panels: false,
  $il-panel-style-boxed: false,
);
.panel-title {
  padding: $spacing-base 0;
}
.ilContainerBlockHeader:not(.ilHeader) {
  padding-right: 21px;
}

.ilContainerBlockHeaderExpanded, .ilContainerBlockHeaderCollapsed {
  background-position: 10px 16px !important;
  padding-left: 36px !important;
  padding-top: 12px !important;
  background-color: transparent !important;
  padding-bottom: 12px;

  &:hover {
    background-color: #f6f4f6 !important;
    border-radius: 3px;
  }
}