@use "./settings_color-palette" as s;

$il-mainbar-btn-color: s.$il-text-color !default;
$il-mainbar-btn-bg-color: s.$il-main-dark-bg !default;

$il-mainbar-btn-color-hover: s.$il-text-color !default;
$il-mainbar-btn-bg-color-hover: s.$il-main-darker-bg !default;

$il-mainbar-btn-color-engaged: s.$il-text-color !default;
$il-mainbar-btn-bg-color-engaged: s.$il-main-darker-bg !default;

$il-mainbar-btn-icon-filter: brightness(0) invert(0) !default;
$il-mainbar-btn-hover-icon-filter: brightness(0) invert(0) !default;
$il-mainbar-btn-engaged-icon-filter: brightness(0) invert(0) !default;
