div.ilc_page_tnav_TopNavigation {
    border-radius: 12px;
    background-color: #94ea94!important;
}

div.ilc_page_bnav_BottomNavigation {
    border-radius: 12px;
    background-color: #94ea94!important;
}

#ilLMPageContent div.ilc_page_cont_PageContainer {
    border: none;
}