@use "010-settings" as s;
@use "010-settings/settings_unibe-variables" as ub;
@use "050-layout/basics" as l;

div.ilTableOuter,
.c-table-data {
  border-top: ub.$unibe-il-table-border;
  border-bottom: ub.$unibe-il-table-border;
  background: ub.$unibe-il-table-bg-color;
}

.c-table-data {
  padding-top: l.$il-padding-medium-vertical;
  padding-bottom: l.$il-padding-medium-vertical;
}
.c-table-data__table{
  min-width: 70%;
}

// Korrigiert in Content Styles die Darstellung von Styleklassen-Formularen (sich überlagernde Inputfelder)
#il_prop_cont_margin td,
#il_prop_cont_padding td,
#il_prop_cont_border-width td,
#il_prop_cont_border-color td,
#il_prop_cont_background-position td,
#il_prop_cont_transform-origin td {
  display:flex;
}
