@use "../../../../../../../templates/default/050-layout/basics/_layout_spacing-variables.scss" as space;
.ilFormFooter .iv_comment_buttons {
  padding: space.$spacing-base 0px;
}

#question_buttons_bellow_form {
  margin-bottom: space.$spacing-base;
}

.modal_feedback {
  margin-right: space.$spacing-base;
  margin-left: space.$spacing-base;
}

.checkbox-inline #show_best_solution {
  margin-left: 0 !important;
}

#show_best_solution {
  margin-left: 0;
}