.panel-secondary {
  box-shadow: @tax-il-panel-secondary-box-shadow;
  border: @tax-il-panel-secondary-border;
}

.panel-secondary a {
  color: @panel-secondary-link-color;
}

.il-panel-listing-std-container {
  background-color: @tax-il-panel-listing-bg-color;
  border-top: @tax-il-panel-listing-border-top;
}

.il-std-item-container:not(:last-child) {
  border-bottom: @tax-il-item-container-border-bottom;
}

.il-item .il-item-divider {
  padding: @tax-il-item-divider-padding;
}

.il-item .il-item-title .btn-link, .il-item .il-item-title a:hover {
  color: @tax-il-item-title-link-hover;
}


  // ViewControl

.panel-secondary .il-viewcontrol-section .btn-default, .panel-secondary .il-viewcontrol-section .btn-default:active {
  color: @tax-il-secondary-panel-viewcontrol-btn-active-color;
}