// Buttons

.btn-default:hover {
  color: @tax-il-btn-standard-color-hover;
  background-color: @tax-il-btn-standard-bg-hover;
}

button .caret{
  background-color: transparent;
  vertical-align: unset;
  margin: unset;
  border: none;
  width: unset;
  height: unset;
  margin-left: auto;
  margin-right: auto;
  &:extend(.glyphicon);
  &:extend(.glyphicon-triangle-bottom);
  &:before{
    font-family: il-icons;
    content: "\e603";  /* \e604 */
    color: @tax-button-glyph-color;
  }
  &:hover{
    font-weight:bold;
  }
}

.dropdown button, .dropdown-toggle.btn-default {
  background-color: transparent;
  &:hover{
    background-color: darken(@il-main-dark-bg, 10%);
  }
}

