@use "./_settings_color-palette.scss" as s-color;
@use "./_settings_typography.scss" as s-typo;
@use "./settings_borders" as s-border;
@use 'sass:color';

//== Buttons
//

//** Size of the font displayed inside a button
$il-button-font-size: s-typo.$il-font-size-base !default;
//** Weight of the font displayed inside a button
$il-button-font-weight: s-typo.$il-font-weight-base !default;

//** Text color of the standard button (most button instances)
$il-btn-standard-color: s-color.$il-text-color !default;
//** Background color of the standard button (most button instances)
$il-btn-standard-bg: s-color.$il-main-bg !default;
//** Border color of the standard button (most button instances)
$il-btn-standard-border: s-border.$il-main-border-color !default;

//** Text color of the primary button (most important button on the screen)
$il-btn-primary-color: s-color.$il-text-color !default;
//** Background color of the primary button (most important button on the screen)
$il-btn-primary-bg: color.scale(s-color.$il-secondary-color, $lightness: -10%) !default;
//** Border color of the primary button (most important button on the screen)
$il-btn-primary-border: color.scale(s-color.$il-secondary-color, $lightness: -10%) !default;

//** Colors of engaged buttons
$il-engaged-btn-color: s-color.$il-text-color !default;
$il-engaged-btn-bg: white !default;

//** Text color of the primary button (most important button on the screen)
$il-btn-ctrl-color: s-color.$il-link-color !default;
//** Background color of the primary button (most important button on the screen)
$il-btn-ctrl-bg: color.scale(s-color.$il-info-color, $lightness: 86%) !default;
//** Border color of the primary button (most important button on the screen)
$il-btn-ctrl-border: $il-btn-ctrl-bg;
$il-btn-ctrl-engaged-border: s-color.$il-link-color !default;
$il-btn-ctrl-outer-height: 2.2rem !default;
$il-btn-ctrl-inner-btn-height: 1.7rem !default;

//** Colors of inactive buttons
$il-disabled-btn-color: s-border.$il-main-border-color !default; //color.scale(s-color.$il-text-color, $lightness: 40%) !default;
$il-disabled-btn-bg: white; //#b0b0b0 !default;
$il-disabled-btn-border: s-border.$il-main-border-color !default; //#e6e6e6 !default;

//** Tag Colors
$il-btn-tag-bg: color.scale(s-color.$il-extended-color-7, $lightness: 40%) !default;
$il-btn-tag-bg-highlighted: s-color.$il-warning-color !default;

//** Bulky Buttons
$il-bulky-text-color: s-color.$il-text-color !default;
$il-bulky-bg-color: s-color.$il-main-dark-bg !default;
$il-bulky-label-size: s-typo.$il-font-size-base !default;

$il-bulky-border-color: s-color.$il-main-dark-bg !default;

$il-bulky-bg-color-engaged: s-color.$il-main-darker-bg !default;

//** Width of the `border` for generating carets that indicate dropdowns.
$il-caret-width-base:          4px !default;
//** Carets increase slightly in size for larger components.
$il-caret-width-large:         5px !default;

// Allows for customizing button radius independently from global border radius
$il-btn-border-radius-base:         s-border.$il-border-radius-base !default;
$il-btn-border-radius-large:        s-border.$il-border-radius-large !default;
$il-btn-border-radius-small:        s-border.$il-border-radius-small !default;