@use "../../050-layout/basics/layout_spacing-variables" as *;
@use "../../010-settings/settings_unibe_variables" as *;
@use "../../010-settings/settings_color-palette" as *;
@use "../../010-settings/" as *;

.il-system-info.il-system-info-neutral {
  background-color: $unibe-il-standard-page-system-info-color-variant-neutral;
}

.il-system-info.il-system-info-important {
  background-color: $unibe-il-standard-page-system-info-color-variant-important;
}

.il-system-info.il-system-info-breaking {
  background-color: $unibe-il-standard-page-system-info-color-variant-breaking;
}