@use "../../010-settings/" as *;
@use "../../010-settings/settings_unibe_variables" as *;

::selection{
  background-color: $unibe-il-selection-bg-color;
}

// Opencast Serie

.xoct_preview_image {
  border-radius: $unibe-il-xoct-preview-img-border-radius;
  background-color: $unibe-il-xoct-preview-img-bg-color;
}