.breadcrumb{
    margin-top: 0px;
}

div.ilAdminRow{
  margin-top: 0;
}

.cal_modal_infoscreen .il_InfoScreenPropertyValue .btn-link {
  text-align: left;
  vertical-align: top;
  font-size: 100%;
}



#tab_achieve_3 {
  display:none;
}


.ilContainerBlock, .il-panel-listing-std-container,.calstd{
  background-color: transparent;
  box-shadow: @tax-il-container-block-box-shadow;
}

.ilContainerBlock .ilContainerBlockHeader{
  background-color: transparent;
}

.ilContainerBlock .ilContainerBlockHeader h3.ilHeader {
  font-size: 18px;
  border-bottom: none;
  background-color: transparent;
  font-weight: 500;
  text-transform: none;
}

.panel-secondary{
  box-shadow:@tax-il-secondary-panel-box-shadow;
}

a:hover, a:focus {
  color: @link-hover-color;
}

table.calmini {
  td.calminitoday {
     background-color: @brand-primary;
   }

}

//Lucene Fix, Typfilter Checkbox
#il_prop_cont_item_filter_enabled .checkbox input[type="checkbox"] {
  margin-left: 0;
}

div.ilNewObjectSelector{
  padding-right: 0;
}

//Blog Keyword / Tags
a.ilTag, .ilTag, .ilTagRelVeryLow{
  background-color: @il-highlight-bg;
  color: @link-color !important;
}

a.ilTag:hover {
  background-color: darken(@il-highlight-bg, 10%);
  color: @link-color;
}

div.row.ilContainerBlockHeader.ilContainerBlockHeaderCollapsed {
  padding-left: 10px;
}

div.row.ilContainerBlockHeader.ilContainerBlockHeaderExpanded > .ilContainerBlockHeader {
  padding-left: 2px;
}
#etherpad-liteFrame {
  height: @tax-il-etherpad-height;
}

ul.dropdown-menu > li > #mm_pd_lp {
  display: none;
}

.ilFrmPostContentContainer img {
  width: auto;
  height: auto !important;
}


a#il_mhead_t_focus{
  	color: @tax-il-course-header-color;
	font-weight:@tax-il-course-header-font-weight;

}

.ilHeadAction{
  .hidden-xs{
    display: none;
  }
}

.jstree.jstree-default .jstree-closed > i{
  background-position: 9px 2px !important;
}

.jstree.jstree-default .jstree-open > i{
  background-position: -8px 0 !important;
}

.jstree-hovered .ilExp2NodeContent{
  color:@brand-secondary;
}

a:hover{
  text-decoration:none;
}

p.warning{
  color:@brand-warning;
}

.il-item .il-item-property-name,
div.ilBlockPropertyCaption.small{
  color:@tax-il-item-property-small-color;
}


.dropdown-menu li > a{
  color:@brand-primary;
}

.input-group .form-control:first-child{
  z-index:3;
}