.breadcrumb{
    margin-top: 0px;
}

.cal_modal_infoscreen .il_InfoScreenPropertyValue .btn-link {
  text-align: left;
  vertical-align: top;
  font-size: 100%;
}



#tab_achieve_3 {
  display:none;
}

.ilContainerBlock, .ilContainerBlock .ilObjListRow, div.il_Block,table.calmini {
  background-color: @tax-il-container-block-bg-color;
}

.ilContainerBlock{
  background-color: transparent;
}

.ilContainerBlock .ilObjListRow:hover,
.ilObjListRow:hover {
  background-color: @tax-il-container-list-row-bg-color;
}

.ilObjListRow {
  border: @tax-il-repository-list-row-border;
}

.ilContainerBlock, div.il_Block{
  border: @tax-il-container-block-border;
}

.ilContainerBlock .ilContainerBlockHeader{
  background-color: transparent;
}

.ilContainerBlock .ilContainerBlockHeader h3.ilHeader {
  font-size: 18px;
  border-bottom: none;
  padding-left: @tax-il-container-block-header-padding-left;
  background-color: transparent;
  font-weight: 500;
  text-transform: none;
}

a:hover, a:focus {
  color: @link-hover-color;
}

table.calmini {
  td.calminitoday {
     background-color: @brand-primary;
   }

}

//Lucene Fix, Typfilter Checkbox
#il_prop_cont_item_filter_enabled .checkbox input[type="checkbox"] {
  margin-left: 0;
}

div.ilNewObjectSelector{
  padding-right: 0;
}

//Blog Keyword / Tags
a.ilTag, .ilTag, .ilTagRelVeryLow{
  background-color: @il-highlight-bg;
  color: @link-color !important;
}

a.ilTag:hover {
  background-color: darken(@il-highlight-bg, 10%);
  color: @link-color;
}

div.row.ilContainerBlockHeader.ilContainerBlockHeaderCollapsed {
  padding-left: 10px;
}

div.row.ilContainerBlockHeader.ilContainerBlockHeaderExpanded > .ilContainerBlockHeader {
  padding-left: 2px;
}
#etherpad-liteFrame {
  height: @tax-il-etherpad-height;
}

ul.dropdown-menu > li > #mm_pd_lp {
  display: none;
}

input.form-control {
  height: unset;
}

.ilFrmPostContentContainer img {
  width: auto;
  height: auto !important;
}
.icon.outlined.xds2 {
  background-image: url("images/outlined/icon_xds2.svg");
}
.icon.outlined.xlvo {
  background-image: url("images/outlined/icon_xlvo.svg");
}
.icon.outlined.xpdl {
  background-image: url("images/outlined/icon_xpdl.svg");
}
.icon.outlined.xoct {
  background-image: url("images/outlined/icon_xoct.svg");
}
.icon.outlined.xsev {
  background-image: url("images/outlined/icon_xsev.svg");
}
td div .glyph .glyphicon-plus-sign:before{
  display: none;
}
