.ilContainerBlock, .panel-secondary {
  box-shadow: @tax-il-container-block-box-shadow;
  border: none;
}

a:hover {
  text-decoration: @tax-il-link-text-decoration;
}

// Mini Calendar

table.calmini {
  font-size: @tax-il-calmini-font-size;
  background-color: @tax-il-calmini-table-background-color;
}

table.calmini td.calminitoday {
  background-color: @tax-il-calmini-bg-color;
  border-radius: @tax-il-calmini-border-radius;
}

img {
  border-radius: 5px;
}


