//@Todo, this is WIP -> remove important factor out to seperate filter file
.ilTableFilter,.ilTableFilterSec{
  background-color: @tax-legacy-filter-bg-color !important;
}
.ilTableFilterSec{
  box-shadow: @tax-legacy-filter-box-shadow;
}

legend.ilTableFilter > .ilTableFilterDeactivator {
  margin-right: @tax-legacy-deactivator-margin-right;
  margin-top: @tax-legacy-deactivator-margin-top;
}

div.ilTableFilterLabel{
  background-color: transparent;
}