.icon.outlined.xds2 {
  background-image: url("images/outlined/icon_xds2.svg");
}
.icon.outlined.xlvo {
  background-image: url("images/outlined/icon_xlvo.svg");
}
.icon.outlined.xpdl {
  background-image: url("images/outlined/icon_xpdl.svg");
}
.icon.outlined.xoct {
  background-image: url("images/outlined/icon_xoct.svg");
}
.icon.outlined.xsev {
  background-image: url("images/outlined/icon_xsev.svg");
}
td div .glyph .glyphicon-plus-sign:before{
  display: none;
}
