.ilTableNav .btn-group{
  margin-left: @il-table-nav-btn-group-margin-left;
}
.nav > li > a:hover, .nav > li > a:focus {
  text-decoration: none;
  background-color: transparent;
  border-color: transparent;
}

legend.ilTableFilter a.ilTableFilterDeactivator{
  margin-top: @tax-legacy-deactivator-margin-right;
  margin-right: @tax-legacy-deactivator-margin-top;
}
