#ilTopBarNav{
    #ilMMSearch {
        display: none;
    }
    #awareness_trigger {
        display: none;
    }
    > li > a {
        background-color: #fff;
        color: #0f7d28;
        border-radius: 12px;
        &:hover {
            background-color: #94ea94;
        }
    }

}

#ilTopBar {
    background-color: #0f7d28;
}

.ilMainHeader {
    border-bottom: 1px solid #c6cdd5;
}

#ilTopNav button.navbar-toggle {
    background-color: #94ea94;
    &:hover{
        background-color: #232f3e;
    }
}
