// mainbar triggers
.il-mainbar-triggers {
  background: @il-mainbar-btn-bg-color;
  display: flex;
  position: relative;
  width: @il-mainbar-btn-width;
  z-index: 1;
  .btn-bulky,
  .il-link.link-bulky {
    align-items: center;
    background: @il-mainbar-btn-bg-color;
    border: 0;
    border-bottom: @il-mainbar-btn-border;
    color: @il-mainbar-btn-bg-color-engaged;
    display: inline-flex;
    flex-flow: column wrap;
    height: @il-mainbar-btn-height;
    justify-content: center;
    margin-bottom: 0;
    padding: 0;
    width: @il-mainbar-btn-height;
    width: 100%;
    .icon {
      filter: @il-mainbar-trigger-icon-filter;
      &.small {
        width: @il-mainbar-trigger-icon-size;
        height: @il-mainbar-trigger-icon-size;
      }
    }
    //Note, for some reason, safari needs this in a seperate section, see:
    &.engaged{
      .focus_hovered_engaged_slate_trigger_mixin;
    }
    &:focus-visible{
      .focus_hovered_engaged_slate_trigger_mixin;
    }
    &:hover {
      transition: all .15s ease-in;
      .focus_hovered_engaged_slate_trigger_mixin;
    }
    .glyph{
      color: @il-mainbar-btn-color;
    }
    .bulky-label {
      color: @il-mainbar-btn-color;
      display: -webkit-box;
      margin-top: @il-margin-large-vertical;
      white-space: normal;
      word-break: break-word;
      padding: 0 2px;
      text-align: center;
      overflow: hidden;
      -webkit-line-clamp: 2;
      -webkit-box-orient: vertical;
    }
  }
  &.engaged {
    background: @il-maincontrols-mainbar-bg-color;
  }
  // no hover on mobile devices
  @media (hover: none) {
    .btn-bulky,
    .il-link.link-bulky {
      &:hover {
        background-color: @il-mainbar-btn-bg-color;
        color: @il-mainbar-btn-bg-color-engaged;
        .icon {
          filter: @il-mainbar-trigger-icon-filter;
        }
        .bulky-label {
          color: @il-mainbar-btn-bg-color-engaged;
        }
      }
      &.engaged {
        background-color: @il-mainbar-btn-bg-color-engaged;
        color: @il-mainbar-btn-bg-color;
        .icon  {
          filter: @il-mainbar-icon-filter;
        }
        .bulky-label {
          color: @il-mainbar-btn-bg-color;
        }
      }
    }
  }
}

.il-mainbar-triggers .btn-bulky.engaged {
  border-left: @tax-il-mainbar-btn-engaged-border-left;
  width: @tax-il-mainbar-btn-engaged-width;
  height: @tax-il-mainbar-btn-engaged-height;
  margin: @tax-il-mainbar-btn-engaged-margin;
}

.il-mainbar-triggers .btn-bulky, .il-mainbar-triggers .il-link.link-bulky {
  width: @tax-il-mainbar-btn-engaged-width;
  height: @tax-il-mainbar-btn-engaged-height;
  margin: @tax-il-mainbar-btn-engaged-margin;
}

.il-maincontrols-mainbar {
  background-color: #fff;
  display: -ms-grid;
  display: grid;
  height: 100%;
  -ms-grid-colums: 80px 329px;
  grid-template-columns: 80px 329px;
  -ms-grid-rows: 1fr;
  grid-template-rows: 1fr;
  width: @tax-il-maincontrols-mainbar-width;
  border-right: @tax-il-maincontrols-mainbar-border-right;
}


// Slate

.il-mainbar-slates {
  box-shadow: @tax-il-mainbar-slates-box-shadow;
}

// Tree Icon
.jstree.jstree-default .jstree-closed > i {
  background-position: @tax-il-jstree-bg-position;
}