// mainbar triggers

.il-mainbar-triggers .btn-bulky .bulky-label, .il-mainbar-triggers .il-link.link-bulky .bulky-label {
  color: @tax-il-mainbar-triggers-disengaged-color;
}

.il-mainbar-triggers .btn-bulky:hover .bulky-label, .il-mainbar-triggers .il-link.link-bulky:hover .bulky-label {
  color: @tax-il-mainbar-triggers-engaged-hover-color;
}

.il-mainbar-triggers .btn-bulky.engaged .bulky-label, .il-mainbar-triggers .il-link.link-bulky.engaged .bulky-label {
  color: @tax-il-mainbar-triggers-engaged-color;
}

.il-mainbar-triggers .btn-bulky.engaged {
  border-left: @tax-il-mainbar-btn-engaged-border-left;
}

.il-maincontrols-mainbar {
  border-right: @tax-il-maincontrols-mainbar-border-right;
}

